body {
	color: #FFFFFF;
	font-family: "Century Gothic";
	
	background-image: url('camaleontesfocato20.png');
	
	background-attachment: fixed; 
	background-size: cover;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	width: 280px;
	height: 50px;
	background: rgba(15,55,166,0.4);
	margin: auto;
	border-radius: 5px;
}

h3 {
	position: fixed;
}

#madagascar-text {
	font-size: 30pt;
	padding: 100px 0px 70px;
	margin: auto;
	text-align: center;
	letter-spacing: 10px;
	
}

div {
	width: 960px;
	height: 430px;
	padding: 20px;
	border-radius: 10px;
	margin: auto;
}



.button {
    background-color: rgba(15,55,166,0.7);
    border: none;
    color: white;
    padding: 16px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
	
.button2 {
    background-color: rgba(15,55,166,0.3); 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: rgba(15,55,166,0.6);
    color: white;
}

#space30 {
	height:30px;
}

p {
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 10px px;
	font-size: 20pt;
	
}



img {
	border-radius: 8px;
}

#cit {
	width: 200px;
	margin: 100px auto 10px 0px;
	text-align: left;
	
	background: -webkit-radial-gradient(top left,
	rgba(37, 0, 100, 0.15),
	rgba(37, 0, 100, 0.1),
	rgba(37, 0, 100, 0.05),
	rgba(37, 0, 100, 0) );   
	
	word-spacing: 4px;
	letter-spacing: 4px;
	font-style: oblique;
	font-size: 14pt;
	padding: 50px;
	
}
nav ul {
		background: linear-gradient(90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.2) 25%,
		rgba(255, 255, 255, 0.2) 75%,
		rgba(255, 255, 255, 0) 100%);
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
		inset 0 0 1px rgba(255, 255, 255, 0.6);
	}

	nav ul li {
		display: inline-block;
	}

	nav ul li a {
		padding: 10px;
		color: #FFFFFF;
		font-size: 18px;
		font-family: Arial;
		text-decoration: none;
		display: block;
	}

a:link {
		color: white;
		text-decoration: none;
	}
	
	a:visited {
		color: white;
	}
	
	a:hover {
		color: #000033;
	}
	
	a:active {
		color: blue;
	}



footer {
	color: rgba(37, 0, 100, 0.3);
}

