body {
	color: #FFFFFF;
	font-family: "Century Gothic";
	
	background-image: url('coppiasfocata.jpg');
	background-position: absolute;
	background-size: cover;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
	width: 280px;
	height: 50px;
	background: rgba(15,55,166,0.4);
	margin: auto;
	border-radius: 5px;
}

h3 {
	position: fixed;
}


#space30 {
	height:30px;
}

p {
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 10px;
	font-size: 20pt;
	
}

#cit {
	width: 200px;
	margin: 100px auto 10px 0px;
	text-align: left;
	
	background: -webkit-radial-gradient(top left,
	rgba(37, 0, 100, 0.15),
	rgba(37, 0, 100, 0.1),
	rgba(37, 0, 100, 0.05),
	rgba(37, 0, 100, 0) );   
	
	word-spacing: 4px;
	letter-spacing: 4px;
	font-style: oblique;
	font-size: 14pt;
	padding: 50px;
	
}
nav ul {
		background: linear-gradient(90deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.2) 25%,
		rgba(255, 255, 255, 0.2) 75%,
		rgba(255, 255, 255, 0) 100%);
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
		inset 0 0 1px rgba(255, 255, 255, 0.6);
	}

	nav ul li {
		display: inline-block;
	}

	nav ul li a {
		padding: 10px;
		color: #FFFFFF;
		font-size: 18px;
		font-family: Arial;
		text-decoration: none;
		display: block;
	}

a:link {
		color: white;
		text-decoration: none;
	}
	
	a:visited {
		color: white;
	}
	
	a:hover {
		color: #000033;
	}
	
	a:active {
		color: blue;
	}

#container {
	width: 960px;
	background: transparent;
	margin: auto;
}

#home {
	margin: auto;
	width: 960px;
	top: 100px;
	background-image: url("coppia.JPG");
	padding: 20px;
	background-size: cover;
}

div.cerimonia {
	margin: auto;
	width: 960px;
	heigth: 9000px;
	top: 100px;
	background-image: url("altareambrogio.jpg");
	background-position: right top, center bottom;
	background-repeat: no-repeat;
	
	background-size: contain;
	/*overflow: auto;*/
}

#mapa {
	flex-direction: column;
}
#parcheggio {
	width: 375px;
	height: 375px;
}

#festa {
	margin: auto;
	width: 960px;
	heigth: 500px;
	top: 100px;
	background-image: url("mirasole.jpg");
	padding: 100px;
	background-size: cover;
}

#viaggio {
	margin: auto;
	width: 960px;
	heigth: 900px;
	top: 100px;
	background-image: url("madagascar.jpg");
	padding: 100px;
	background-size: cover;
}

#casa {
	margin: auto;
	width: 960px;
	heigth: 500px;
	top: 100px;
	background-image: url("kyiv.jpg");
	padding: 100px;
	background-size: cover;
}
 #grazie {
	margin: auto;
	width: 960px;
	heigth: 660px;
	top: 100px;
	background: rgba(15,55,166,0.1);
	padding: 100px;
	background-size: cover;
}

footer {
	color: rgba(37, 0, 100, 0.3);
	position: fixed;
	bottom: 10px;
}

